[2017-08-20 07:03] ankittparikh opened #2 "Only Last Message of Grouped Messages are fetched."
While trying to fetch all messages only last message of grouped messages available. How can I fetch all the messages?

[2017-08-29 11:39] briankabiro commented on #2
@ankittparikh Hey, what messages are they exactly?

[2017-09-11 16:04] vijayperlakota opened #4 "Build is breaking in my app"
@briankabiro

I have followed the steps listed but my app is not getting built.
Below are the logs:
:react-native-get-sms-android:compileReleaseJavaWithJavac - is not incremental (e.g. outputs have changed, no previous execution, etc.).
/node_modules/react-native-get-sms-android/android/src/main/java/com/react/SmsPackage.java:28: error: method does not override or implement a method from a superty

[2017-09-12 08:41] briankabiro commented on #4
@vijayperlakota let me check it out and I'll get back to you

[2017-09-13 14:22] vijayperlakota commented on #4
@briankabiro
Thanks for your reply.

I tried `gradlew clean` still the issue persists.

My `java -version` is

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

Let me know is there a specific version of Java needs to be used.

Thanks,
-VJ

[2017-09-13 23:01] davidstoneham commented on #4
Hey yep this is an issue with the newer version of react. I'll fix this up today and also add in an example app for testing and reference in the project

[2017-09-15 05:21] davidstoneham commented on #4
@vijayperlakota This should now be fixed in the latest version

[2017-09-15 05:21] #4 closed

[2017-09-16 15:33] vijayperlakota commented on #4
Thanks @davidstoneham

[2017-09-25 14:12] ghost opened #5 "send and delete sms"
I'm going to send and delete my sms. i used this method to send sms
[code]

and also used this method to delete sms
[code]

i get this error: Failed with this error: SMS not found****

i don't know how to get the sms id. in the autoSend to delete that sms.
Note: i pasted a fake number in the first delete argument!!

[2017-09-25 14:40] davidstoneham commented on #5
Your first issue is the sms is not returned on a successful send when using the autoSend function. To get the sms detail and the id you need to perform list function. You can use the filters to only return the messages sent to the mobile number so ensure you only get the sms you want to delete.

When you do this list you'll receive the id of the sms which you can use to delete the sms using the de

[2017-09-26 07:16] husseinoj commented on #5
I do like this but i still get SMS not found error:
[code]
The  if (object.address ==="+phone") condition is true and the message id is 251 but i get the error that it says SMS not found.
i also adding following permission to the android Manifest:

[code]
but nothing has changed

[2017-10-02 11:03] briankabiro commented on #5
@husseinoj
did you make any progress?

[2017-10-02 11:20] husseinoj commented on #5
what do u mean? did u delete a sms successfully?

[2017-10-02 11:56] briankabiro commented on #5
@husseinoj yes

[2017-10-02 12:00] husseinoj commented on #5
what version of android did u test? i tested on android version 7, and got the SMS not found

[2017-10-04 03:51] davidstoneham commented on #5
@husseinoj i'm looking into this. I've had issues deleting SMS on android 6 and later and since the only error is SMS not found it's hard to track it down. I suspect the process has changed for deleting SMS in newer versions of android and hopefully it is still possible without setting your app as the default SMS app.

[2017-10-07 19:12] andreatoso opened #6 "autoSend is not a function"
Hi, I just installed this module. It is linked correctly but when I try to send a SMS I get this error:
"_reactNativeGetSmsAndroid2.default.autoSend is not a function". Why I get this error?
This is my code:
`import SmsAndroid  from 'react-native-get-sms-android';

const instructions = Platform.select({
  ios: 'Press Cmd+R to reload,\n' +
  'Cmd+D or shake for dev menu',
  android: 'Double tap R o

[2017-10-07 23:47] davidstoneham commented on #6
Hi there. This looks like you're using an older version of the plugin. Make sure you've got the latest version installed.

[2017-10-08 06:10] andreatoso commented on #6
I tried to update and these are my versions:
"react-native": "0.49.2",
"react-native-get-sms-android": "^1.3.2"
but it doesn't work. I tried to send,delete and list but I always get this error. Why?

[2017-10-09 08:51] briankabiro commented on #6
@andreatoso I've updated the package on npm. It's now version 1.4.
@davidstoneham Good catch

[2017-10-09 12:01] andreatoso commented on #6
@briankabiro It works like a charm, thank you for updating! You can close.

[2017-10-10 03:08] #6 closed

[2017-10-18 07:29] briankabiro commented on #2
Seems to be an ice-box. Will close it at the moment

[2017-10-18 07:29] #2 closed

[2017-12-05 06:26] dcworldwide opened #7 "Receive event on new sms"
Can we receive an event on sms sent and received actions?

[2017-12-05 07:46] davidstoneham commented on #7
There is an event listener when an SMS has been received by the recipient. There are no event listeners/emitters for you receiving or sending an SMS. You'll need to manually check for new messages periodically

[2017-12-21 07:35] davidstoneham commented on #5
@husseinoj apologies for getting to this so late. Unfortunately it's not possible to delete an SMS without being the default SMS application in android so that function will not work on android 6 and higher

[2017-12-21 07:35] #5 closed

[2017-12-21 07:35] #7 closed

[2018-01-31 11:20] vincentaudebert opened #9 "SmsAndroid undefined?"
Sorry I'm quite new to React Native.

I yarn installed your package and when I try this code
[code]

I get this error:
[code]

Any idea of what I'm doing wrong?

[2018-01-31 21:48] vincentaudebert commented on #9
Ah my bad... I'm using Expo... Could be the same error than this one: https://github.com/tkporter/react-native-sms/issues/25

[2018-01-31 22:04] vincentaudebert commented on #9
Might be worth mentioning in the README that this package won't work if used with Expo?

[2018-02-01 11:45] vincentaudebert opened #10 "list() to be able to look for regex pattern"
It would be really great to be able to look for a regex in the filters when using `SmsAndroid.list()` and not only a string (with `body` filter)

[2018-02-09 15:22] briankabiro commented on #10
Noted @vincentaudebert. What do you think about this @davidstoneham?

[2018-02-10 23:28] vincentaudebert commented on #9
@briankabiro I think it's Expo not supporting SMS access. I had found a github issue about it but I can't find it back.

[2018-02-20 02:44] #9 closed

[2018-02-20 02:44] briankabiro commented on #9
I've updated the README accordingly.

[2018-04-04 02:23] gj1118 opened #11 "Cannot delete SMS message"
Hi,
I am trying to delete a message. As you can see from the image below that I am using the Default SMS app as my messaging app.

![image](https://user-images.githubusercontent.com/473101/38285240-501998b8-378d-11e8-85ee-2227811d24a9.png)

I am using this code to delete a SMS message that I had sent 10 minutes earlier.

The error message that comes up points that **it cannot find it**, yet I can

[2018-04-04 05:42] davidstoneham commented on #11
Have you implemented the correct permissions and handlers for the default SMS app? See here https://android-developers.googleblog.com/2013/10/getting-your-sms-apps-ready-for-kitkat.html

This plugin has not been successfully tested on deleting SMS on android 5 and higher yet so I won't be able to provide too much assistance. It should be a matter of making sure you have the correct handlers and re

[2018-04-04 05:55] gj1118 commented on #11
@davidstoneham , thanks for replying back. I am not sure I quite understand . This is because I am just getting started with Android development. I apologize sincerely.

I have made sure that the default app is the one handling the messages. Do I need to give it more permissions ?  Or do I need to give my app more permissions ?  If I have to give my app more permissions , then I have given my app

[2018-04-09 04:24] davidstoneham commented on #11
@gj1118 you may need to implement the intent filters in the apps manifest file. I'm not 100% since I've never done this before. You'll need to find a guide to make a sms app on android >5 to work out what exactly you need in order to get Android to give you delete permission.

[2018-04-09 05:43] rassemdev opened #12 "Getting TypeError: undefined is not an object"
I created fresh new project using `create-react-native-app AwesomeProject` command. then i installed the plugin and copy all the code and paste it in app.js
after that i run it into expo, and getting the following errors:
[code]

[2018-04-09 06:54] briankabiro commented on #12
Hi, @rassemdev. Currently, the npm module doesn't work with Expo. You can try running it using `react-native start` on an emulator.

[2018-04-09 08:34] rassemdev commented on #12
@briankabiro  thanks for you reply, I changed the process. I created new app using `react-native init my-project` command. then i cd into my project and install the plugin using `npm install react-native-get-sms-android --save` this command and copy all the example code paste it in app.js. After that i run the project using `react-native run-android`. Still I'm getting those errors:
[code]

[2018-04-09 09:01] rassemdev commented on #12
killall node -9
solved the errors.. Thanks.. you can close this issue now. It is working

[2018-04-09 09:01] #12 closed

[2018-07-07 08:24] ayushmankd opened #14 "Not able to Read SMS Broadcast Messages"
It is able to read Messages from contacts but not from any sms broadcasters.

[2018-07-19 11:49] Rohit-jft opened #15 "Version Error"
Version Error

[2018-09-14 07:11] ajiehatajie opened #16 "Permision send SMS in android"
How get permission before send SMS ?

[2018-10-08 12:56] UnnikrishnanBhargavakurup opened #17 "Permission denied com.android.providers.telephony.SmsProvider"
I'm getting the following error:

Permission denied com.android.providers.telephony.SmsProvider

Please see the attached screenshot.

<img width="274" alt="screen shot 2018-10-08 at 6 19 08 pm" src="https://user-images.githubusercontent.com/825646/46610186-9ba14280-cb27-11e8-9961-38322eb6450c.png">

[2018-10-09 01:43] davidstoneham commented on #17
This error means the app has not been given access to read the messages of the device. You can manually give it permission via the settings > apps > permissions on your device or use a plugin to request permission from the user. You'll also need to make sure you have the correct imports in your manifest file too (these are outlined in the readme)

[2018-10-10 08:42] #17 closed

[2018-12-28 20:52] olbesp commented on #16
@ajiehatajie try this:
[code]

[2019-01-22 11:28] abtuhin opened #20 "Crash while read sms on some devices."
I am getting some crashes on some particular device. Here is my crashlytics log :

[code]

a solution or workaround would be a great help.
Thanks.

[2019-02-01 12:31] Joao-Leite opened #21 "Not working on every device"
Hi,

I've tested on a Xiaomi Redmi Note 6, and I get an empty list of sms (when there should be 3), but when I tested it with another device, I was getting the messages correctly.
Both permissions for READ_SMS and SEND_SMS were granted on both devices, so does this library only works on some devices?

Thanks.
João Leite

[2019-02-11 10:01] briankabiro commented on #20
Hi @abtuhin. Let me look into it and I'll get back.

[2019-02-11 10:02] briankabiro commented on #21
Hi @Joao-Leite.

Interesting behavior there. Are they running the same Android version?

[2019-02-11 10:04] briankabiro commented on #16
Thanks for this. @olbesp. Hopefully, I'll get to integrating this into the docs and maybe getting the package to fail gracefully.

[2019-02-11 11:57] Joao-Leite commented on #21
I'm running on MIUI 10 which is based on Android 8. That is on the phone that didn't work.
The phone that was working was an older version, but I'm not sure which one it was

[2019-02-13 09:05] briankabiro commented on #21
Thanks. Will take a look and see what the issue might be with the OS.

[2019-02-14 06:40] abtuhin commented on #20
Here is the log from crashlytics @briankabiro

![screen shot 2019-02-14 at 12 35 55 pm](https://user-images.githubusercontent.com/13661720/52767744-41862180-2fe0-11e9-8248-5792cdc147b6.png)

[2019-02-20 12:46] briankabiro commented on #20
Thanks for sending it over. It appears to be occurring because of a null-pointer exception. The solution would be to check if `Cursor.moveToNext()!=null` before running the code that lists the messages.

[2019-02-20 13:50] abtuhin commented on #20
`Cursor.moveToNext()!=null` doesn't applicable.
i have tried using `while (cursor!=null && cursor.getCount() > 0 && cursor.moveToNext()){...}`
And still getting crashes in firebase log @briankabiro

[2019-02-20 14:03] briankabiro commented on #20
Hmm interesting. Same error still?

_Also, apologies. The issue closed automatically after merging the PR_

[2019-02-20 19:56] abtuhin commented on #20
Yes, but i couldn't reproduce this using emulator or any devices. But some users are facing this issue that i can see from crashlytics log. Most of the case it's xioami device or oppo device, version 5

[2019-02-21 06:55] briankabiro commented on #14
Hey. @ayushmankd. Apologies for the delay in replying to this. Any luck?

[2019-02-21 07:08] briankabiro commented on #20
Ok. #21 also lists that there's an issue with getting SMS's on Xiaomi devices.

I have a hunch that it's because the devices run their custom Android OS and there's something that they have that's causing the error.

[2019-02-21 07:59] ayushmankd commented on #14
@briankabiro Sorry, I am currently not working on the product for which this functionality was needed.

[2019-02-27 10:59] AnthonyMwangi opened #24 "Event listener Not Working"
Hi,
Can't seem to get the **_sms_onDelivery_** Event listener to work. I'm using a Huawei Mate 10 Lite running on Android 8.0.

Am I missing something?
Do you have snippets for any working implementation?

[2019-02-28 09:17] briankabiro commented on #24
Hey @AnthonyMwangi. Are you seeing any error or nothing at all?

[2019-03-01 12:11] AnthonyMwangi commented on #24
Nothing At all

[2019-03-02 13:29] amirito opened #25 "error: incomparable types: boolean and <null>"
I just import this module into my project but I get this error when I want to build:

[2019-03-04 08:41] briankabiro commented on #25
Hi, apologies for this.
Going to fix this with this #26.

[2019-03-06 09:48] AnthonyMwangi commented on #24
Hey @briankabiro updated to **_version 1.3.7_** and it now works properly.
Thank You.

[2019-03-06 09:48] #24 closed

[2019-03-07 08:09] briankabiro commented on #24
Great. Thanks for the patience 👍

[2019-03-07 10:02] briankabiro commented on #25
This should be fixed now with the new release 1.3.7. Could you confirm and let me know?

[2019-03-07 10:03] briankabiro commented on #20
Hey, @abtuhin.

Have released 1.3.7; is the issue still present?

[2019-03-14 12:34] mikehardy commented on #25
this is definitely working for me now

[2019-03-14 12:35] mikehardy commented on #15
not enough details to tell what is going on. current code is working for me?

[2019-03-14 12:36] mikehardy commented on #11
For android >5 the only app permitted to delete an SMS message is the app installed as the default SMS handler. If your app is not set as the default SMS handler it will not be able to delete, so I believe this result (delete failure) is expected as you have not set your app as the default sms handler

[2019-03-14 12:39] mikehardy opened #28 "Git code not tagged to correspond with npmjs.com?"
This is more of a question than an issue :-)

I see on npmjs.com that the package is being updated with the work here - last publish is 1.3.8 and recently: https://www.npmjs.com/package/rn-update-get-sms-android

However, I don't see any git tags or anything here, so I'm not sure what code is in which version? In the future could you `git tag vX.Y.Z` and `git push --tags` for the corresponding com

[2019-03-15 16:34] adisrini1103 opened #29 "Always returns 50% of "read messages" total count"
I'm trying to analyze all the messages in the inbox, so plan to iterate in batches of 100

var filter = {
 box: 'inbox',
 body:'',
indexFrom: 0, // start from index 0
 maxCount: 100, // count of SMS to return each time
};

Only returns "read" messages and there is only "50" objects returned.
Any idea why this is happening

[2019-03-15 21:26] mikehardy commented on #29
Someone proposed a pull request on my fork to address this: https://github.com/mikehardy/react-native-get-sms-android/pull/3

It is a real problem but the PR had something unrelated in it that the author hasn't addressed. I'll see if I can get it merged in cleanly and propose it here (my goal is to *not* have a "fork" but have everything upstream here :-) )

[2019-03-15 21:40] mikehardy commented on #29
By the way, this only happens with pagination / batches. If you don't do batches the count will be correct

[2019-03-16 03:21] adisrini1103 commented on #29
Thanks, You're right, happens only when I paginate @mikehardy

I am trying to paginate because when I try to retrieve all the messages in the inbox, and the app force closes.

I'm a bit new to native frameworks, Any other way to retrieve the complete inbox?

[2019-03-16 03:45] mikehardy commented on #29
@adisrini1103 - nope there is no other way to handle large amounts of data other than to paginate, I think you just need to either wait for @briankabiro to merge this then use master in your project, or fork to your own area, merge the PR yourself and use master from your repo until this change is upstream. It's a super tiny change at least.

Separate way to do it (and something I've done for smal

[2019-03-16 07:51] adisrini1103 commented on #29
@mikehardy Yep, Trying to merge it at my end, will let you know if I run into any issues, Thank you

[2019-03-18 08:46] briankabiro commented on #29
Hey everyone.

Was away on leave last week hence the silence. Going to have a look at it today and should be able to get it merged if everything looks good.

[2019-03-18 08:53] briankabiro commented on #25
Thanks, @mikehardy. Think we can close this one then.

[2019-03-18 08:53] #25 closed

[2019-03-18 19:05] #29 closed

[2019-03-19 12:18] briankabiro commented on #28
Hey Mike. Thanks for flagging this.

I've been tagging versions through npm and not pushing them using git. I will definitely start doing this from now onwards.

Appreciate the pointers; I've managed to push them now so that's a start. 😃

https://github.com/briankabiro/react-native-get-sms-android/releases

[2019-03-19 14:59] mikehardy commented on #28
Fantastic - thanks

[2019-03-19 14:59] #28 closed

[2019-03-20 11:49] adisrini1103 commented on #29
For every SMS retrieved, there are two empty elements in the objects, For example: when I limit to 10, I get 15 elements in the object.

5 with SMS and 2 empty

Anyone else facing this issue?

@briankabiro @mikehardy

[2019-03-20 13:55] mikehardy commented on #29
Paging just got a fix on master, are you using the package from git master, or npmjs (and you are sure you updated?). Does this continue to happen with paging or without? (I would bet that without paging it works correctly...)

[2019-03-20 16:14] adisrini1103 commented on #29
from npmjs, okay let me pull master and check it again,
with paging, because I am trying to read all the messages and analyzing

[2019-03-20 16:33] adisrini1103 commented on #29
Sorry guys, My bad , Pulled from the master , works great,
even paging seems to work fine just did 5 paginations

Lets see if I can iterate the whole sms book

Thank you
@mikehardy

[2019-03-20 18:13] mikehardy commented on #29
No apology needed, really happy to have a success report after that pull request since I requested the change 😁

[2019-03-22 07:40] logesssh opened #31 "how to read the messages past week/month like that? i need to reed past 10/15days messages only..."
@mikehardy @tapanprakasht @tvc97 @davidstoneham

[2019-03-22 14:04] mikehardy commented on #31
Per the README, you can filter like so:
https://github.com/briankabiro/react-native-get-sms-android/blob/master/README.md#list-sms-messages

If those don't do what you like (filter by date range or similar) feel free to open a PR, but other than that I believe your immediate solution must involve pagination starting at 0, with reasonable page sizes, filtering in JS and stopping when you hit the en

[2019-03-22 14:04] #31 closed

[2019-03-27 05:40] logesssh opened #32 "sender is like az-paytm,ixpaytm means how can we assign address field. in sms listener, they have like this sender.contains("paytm"). they will get all type of senders sms"
@mikehardy @tapanprakasht @briankabiro

[2019-03-27 12:39] abtuhin commented on #20
Sorry for being late to reply @briankabiro
I think the issue still exists. This is causing for android version 5 only, some Xioami and OPPO devices

[2019-03-27 12:39] mikehardy commented on #32
No version, no sample code showing the SMS json and what you tried. The docs show filtering

[2019-03-27 12:39] #32 closed

[2019-03-27 13:39] mikehardy commented on #20
But we need to know *for sure* one way or the other. [There is a null pointer check in the latest code for the exact object that was null](https://github.com/briankabiro/react-native-get-sms-android/commit/284ff1f1d037b94120acd1331f18918d7af79a87), so I can't understand how it would still happen. It is always possible I am misunderstanding but I would want to know for sure that it is happening aft

[2019-03-27 14:20] logesssh commented on #32
I am asking how to filter all messages sent by paytm. Paytm have senders VM-IPAYTM, AXiPaytm, HPvpaytm, etc.. like that. I need to filter paytm messages but cant filter by senders because it will change in future by AM-paytm,VXpaytm,CPpaytm like that. is there any option in this package for this help me..

ex. **sms-listener-paackage**

let subscription = SmsListener.addListener(message => {

[2019-03-27 14:21] logesssh opened #33 "How to filter SMS messages by sender"
@mikehardy @tapanprakasht @tvc97 @davidstoneham @briankabiro

[2019-03-27 14:22] logesssh commented on #33
I am asking how to filter all messages sent by paytm. Paytm have senders VM-IPAYTM, AXiPaytm, HPvpaytm, etc.. like that. I need to filter paytm messages but cant filter by senders because it will change in future by AM-paytm,VXpaytm,CPpaytm like that. is there any option in this package for this help me..  ex. sms-listener-paackage  let subscription = SmsListener.addListener(message => { let sende

[2019-03-27 14:30] mikehardy commented on #33
Switched to proper title.

Please don't just tag people, that's like walking into a room of people working when you have a question, and tapping 4 people you don't know on the shoulder. It is very insistent. I understand you have a need but think of others needs.

I closed your previous issue because it lacked details. This still lacks details, specifically I asked what your SMS JSON looked like a

[2019-03-27 14:30] #33 closed

[2019-03-27 15:13] logesssh commented on #33
this is my json
{
  "sms_list": [
    {
      "sms": "hi ",
      "date": "20190310"
    },
    {
      "sms": "hello",
      "date": "20190311"
    },
    {
      "sms": "how are you.",
      "date": "20190312"
    },
    {
      "sms": "is anyone there",
      "date": "20190312"
    },
    {
      "sms": "i have doubt",
      "date": "20190312"
    },
    {
      "sms": "thanks for your patience

[2019-04-02 12:28] sulaysumaria opened #34 "Remove `uses-permission` from AndroidManifest.xml"
#### Problem Statement:
I am using `react-native-get-sms-android` for reading sms only. Still my app asks permission for `WRITE_SMS` and `SEND_SMS`, even though I have not asked for that permission.

#### Cause:
The permission specified in the `AndroidManifest.xml` of this plugin.

#### Solution:
Remove the permissions from this plugin's `AndroidManifest.xml` and let developers add it to their app

[2019-04-02 12:31] sulaysumaria commented on #34
Also change the README accordingly. As it guides to add permissions manually to AndroidManifest.xml, which is not actually required. It should be changed to add the specific permission that a specific function requires.

[2019-04-02 16:01] mikehardy commented on #34
Seems like a reasonable idea. Why not propose a PR to match?

[2019-04-02 16:03] sulaysumaria commented on #34
Sure thing. I am new to react-native, so was just going through on some blog posts on how to develop plugins for react-native so that I don't accidentally break any other things. I will create a PR as soon as I am ready with the change. Maybe within 24 hours.

[2019-04-03 07:36] briankabiro commented on #34
Thanks @sulaysumaria. We'd both be happy to offer advice on this.

[2019-04-03 17:54] sulaysumaria commented on #34
I realized what I did here. 😆 .

I looked at `index.js` and there are just two lines!! I will leat every reader to view the file by himself.

Basically what this package does is exports the `react-native`'s `NativeModules.Sms` and adds permissions for `READ_SMS`, `WRITE_SMS` and `SEND_SMS` to `AndroidManifest.xml`, so that developer don't need to add it to app's manifest.

And what I suggested was

[2019-04-08 15:09] gbakthavatchalam opened #36 "Unhandled promise rejection: Typeerror: undefined is not an object (evaluating '_reactnativegetsmsandroid.SmsAndroid')"
How I use it ?

[code]

[2019-04-08 15:12] mikehardy commented on #36
You'll need to see the example, it demonstrates full functionality

[2019-04-08 15:12] #36 closed

[2019-05-14 20:14] Rictus opened #39 "null is not an object at basic example"
Hi,

I'm a complete noob at building android application but I want to use `react-native-get-sms-android` to read sms only.

What I did :
* `react-native init myapp`
* `cd myapp`
* ` yarn add react-native-get-sms-android`
*  Add all permissions in `android/app/src/main/AndroidManifest.xml`
* Copy from [here](https://github.com/briankabiro/react-native-get-sms-android/blob/master/example/App.js) to

[2019-05-14 20:54] mikehardy commented on #39
you didn't link maybe? https://github.com/briankabiro/react-native-get-sms-android#mostly-automatic-installation

[2019-05-16 19:06] Rictus commented on #39
Oh my .. I thought I did!
Now, sending sms is OK. Reading them, I don't know, nothing is displayed but I will dig in. I think it works.
Thank you mikehardy.

[2019-05-16 19:06] #39 closed

[2019-05-16 19:13] mikehardy commented on #39
It is so easy to forget, and such a frequent source of issues that the entire CLI and linking process is being re-written for the v2.0 of the react-native CLI to implement "auto-linking". You're not alone ;-)

[2019-08-15 08:25] briankabiro commented on #15
Hi @Rohit-jft. Going to close this for now as it's inactive.

[2019-08-15 08:25] #15 closed

[2019-08-15 08:27] briankabiro commented on #11
Hi @gj1118. Going to close this for now as it's inactive. Feel free to reopen it if the issue persists.

[2019-08-15 08:27] #11 closed

[2019-08-15 08:27] briankabiro commented on #14
@ayushmankd. Going to close this for now as it's inactive.

[2019-08-15 08:27] #14 closed

[2019-08-17 15:16] tahins opened #42 "Sent messages don't show up"
Sent messages using `SmsAndroid.autoSend` method don't show up when I fetch messages (`SmsAndroid.list`) or from any other SMS app.

[2019-08-19 09:25] briankabiro commented on #42
Hey @tahins. Are you using any parameters on `SmsAndroid.list`?

[2019-08-24 00:09] tahins commented on #42
Yes. The only parameters I am using is this -

[code]

[2019-10-21 07:05] paurakhsharma opened #46 "Filter not working for address"
This is how my dependencies looks like
[code]

I have the following filter

[code]

I want to get only the SMS send from `NICA_ALERT`  but I get other messages that is not set by `NICA_ALERT`

Here is how I have implemented the code

[code]

# Expected
To get only messages from `NICA_ALERT`

# Actual
Got messages from other senders aswell.

[2019-10-22 08:23] briankabiro commented on #46
Hi @paurakhsharma.

Thanks for including the code that you are using.

Could you try omitting the `read: 1` and using `address: 'NICA_ALERT'` only? Something like this:

[code]

This is because of this condition when creating the filter -- _the next 4 filters should NOT be used together, they are OR-ed so pick one_

[2019-10-22 09:19] paurakhsharma commented on #46
Sorry, I didn't read the commented documentation carefully.
It works.
Thank you so much.

[2019-10-22 09:19] #46 closed

[2019-10-22 12:29] briankabiro commented on #46
No worries at all. :)

[2019-11-19 23:27] UnluckyLAD opened #50 "Automatic SMS Read (SOLVED)"
Hi,

I am currently at a stage where my "read" SMS is fully functional and I'm able to get an ALERT to pop up with the body of an unread text message by pressing a button.

However, I would like the alert to show up  automatically whenever a new message comes in rather than having to press the button each time. Is that possible in any way? I thought about ComponentDidUpdate (not sure if that's app

[2019-11-25 06:41] briankabiro commented on #50
Hey, @UnluckyLAD. Glad to see that you found a solution; sad to see that help didn't come from here. 😉

[2019-12-03 13:46] #50 closed

[2020-01-06 07:09] Updour opened #51 "delete message"
how to delete message in use this module?
if (responses.status === 200) {
          messages.forEach((obj) => {
            console.log(obj.type)
           SmsAndroid.delete(
            obj._id,
            (fail) => {
              console.log('Failed with this error: ' + fail);
            },
            (success) => {
              console.log('SMS deleted successfully');
            },

[2020-01-08 04:25] Updour opened #52 "this module is active"
how to delete message/inbox using this module? please help me

[2020-01-13 08:56] briankabiro commented on #51
Hi Updour. Apologies for the delay, was off for a while. Going to look into this and get back to you.

[2020-01-15 03:07] briankabiro commented on #51
Hi @Updour. From the screenshot, I see that it's saying `SMS Not Found`.

Could you show the code of how you are accessing the specific message that you are going to delete?

i.e this section
[code]

[2020-01-15 03:27] Updour commented on #51
yes of course this code only runs on the Android version of Jelly Bean ?? because there this code works well,

# this code https://pastebin.com/89CC3zKw

[2020-01-15 11:22] frabanca opened #53 "Does this work when app is in the background?"
Thanks for any reply

[2020-01-17 12:24] frabanca opened #54 "How can I programmatically update an SMS setting "read" status to true?"
I've seen that each SMS has the following structure:
[code]

And I've seen that I can use 'read' filter while reading SMS messages from phone, but once I've read and handled a single SMS I'd like to update his 'read' status to true to avoid to re-reading it.

How can it be done?

Thanks for any help!

[2020-01-20 14:41] #34 closed

[2020-01-20 14:42] #42 closed

[2020-01-20 14:48] briankabiro commented on #51
Ah I think I know what the issue is.

![Screen Shot 2020-01-20 at 17 46 11](https://user-images.githubusercontent.com/22860561/72735406-d0b29680-3bac-11ea-85e4-197dfd8bf0c4.png)

You can check out the whole thread here:
https://stackoverflow.com/questions/8614211/deleting-android-sms-programmatically

That's the reason why it works on Jellybean and not on any later versions.

I thought this was in

[2020-01-20 14:51] briankabiro commented on #54
Hey @frabanca; I don't think we have the functionality to update the values at the moment.

A potential solution could be storing the `ids` of messages that the user has read on your end and maintaining your own read status. :)

[2020-01-20 17:37] frabanca commented on #54
Hi @briankabiro ! Thanks for your quick reply!

I'll go for that way! 👍 :)

[2020-01-20 17:37] #54 closed

[2020-01-21 02:51] Updour commented on #51
well, I hope there is a new README in the future, and thank you for the answer to this,

So, is it still running on Jelly Bean right ??

[2020-01-21 11:18] briankabiro commented on #54
Awesome; glad to be of help!

[2020-01-31 08:01] briankabiro commented on #53
Hey @frabanca. This totally slipped my mind.

Have you made any progress on this end?

[2020-01-31 08:04] briankabiro commented on #52
Closing this as a duplicate of #51

[2020-01-31 08:04] #52 closed

[2020-01-31 16:57] langeGenial opened #59 "i want to know more"
how to know the recipient's phone number?
what does all the information mean? (thread_id, person, type ....)

[2020-02-03 09:15] frabanca commented on #53
Hi @briankabiro!

After a few minutes of panic I realized I could use this plugin: `react-native-background-job`.
Usege is really simple. I'll describe how I've done in case someone will need this in the future.

First step, add this to index.js in the root of your app project:
[code]

Second step: write SMSService
[code]

Third and last step, activate background task:
[code]

[2020-02-22 14:31] SmirnovM91 commented on #20
Do you have any ideas how to fix it?
I have the same errors

[2020-02-25 07:26] briankabiro commented on #59
Hey @langeGenial.

Apologies for getting back to you later than usual. I should really improve the documentation.

Were you able to view the recipient's phone number from the message?

[2020-03-04 09:36] AreebVohra opened #61 "send msg to multiple numbers"
i want to send msg to multiple numbers at once
this is what i'm doing, but getting error "com.facebook.bridge.ReadableNativeArray cannot be cast to java.lang.String"

[code]

i also tried this
[code]

[2020-03-04 14:30] AreebVohra commented on #61
i'll be damned, it was so simple
why hasn't this been mentioned in the docs please add this to the README
[code]

[2020-03-04 14:30] #61 closed

[2020-03-06 08:32] briankabiro commented on #61
Sorry about that, @AreebVohra. Glad to see that you found a solution.

Let me open up a PR to update the README with the information. 🏃 🏃

[2020-03-06 08:42] briankabiro commented on #61
Done and merged.

Thanks again for including the code!

[2020-03-06 10:39] AreebVohra commented on #61
hello @briankabiro i tried your code that you added in the README it will not work because if you look in the android native code it requires a json object with key "addressList"
i recommend you try running the and see the outcome

[2020-03-11 13:02] briankabiro commented on #61
You are right, Areeb.

It does expect the addressList key. I'll make sure that I test it out

[2020-03-29 06:21] devcer opened #64 "Error: ENOENT: no such file or directory, open 'myPath/strings.xml"
I'm new to React-Native and I tried to use this package but I see the following error. Any thoughts on How I could fix this?

I see the path it is trying to resolve is incorrect

My path: SmsReader/android/app/src/main/res/values/strings.xml
Path it is trying to resolve: SmsReader/android/src/main/res/values/strings.xml

Here goes the complete log

error Linking "react-native-get-sms-android" fail

[2020-03-30 15:43] briankabiro commented on #64
Hey. Welcome to the club!

Did you run `react-native link react-native-get-sms-android`?

[2020-04-15 15:46] offaxis commented on #59
+1
What is the meaning of message data returned ? Any official Android doc ?

[2020-04-16 07:19] offaxis opened #65 "Reading MMS"
Hi,
Is it possible to read MMS with this lib ?

Thanks

[2020-04-22 08:02] briankabiro commented on #65
Hey, @offaxis 👋

I haven't tried using MMS but it seems that we don't currently support it.  [MMS](https://developer.android.com/reference/android/provider/Telephony.Mms) uses `Telephony.Mms` and the package only loads `Telephony.SmsManager` in the code.

Have you found a package that provides this functionality? If not, I think MMS should be something that this package supports.

[2020-04-22 08:08] briankabiro commented on #59
Hey @offaxis

I found the Android doc that specifies the fields over here -> https://developer.android.com/reference/android/provider/Telephony.TextBasedSmsColumns

I think that I should also add this to the docs.

[2020-04-22 12:23] offaxis commented on #65
Thanks for your answer !

I create another library inspired of this : https://stackoverflow.com/questions/3012287/how-to-read-mms-data-in-android

I will add it to npm repo !

[2020-04-28 03:10] briankabiro commented on #65
Awesome--best of luck on the new venture. 🚀

[2020-05-17 03:02] GusNando opened #66 "Switch Active Simcard to Send SMS"
Hi, how can i switch active simcard to send sms?

[2020-05-27 16:04] briankabiro commented on #66
Hey Gus, that's a good question. The package doesn't have support for that feature at the moment.

I'd never thought about that. Does the current behavior choose the first sim card?

[2020-05-28 12:55] GusNando commented on #66
hi brian, yes it is

[2020-06-03 07:18] huuthinh245 commented on #21
i have the some issue. Can't read sms on Oppo F7 ( android 9 ),  Oppo F9 ( android 9 ),  Oppo A5s ( android 8.1.0 ) with registered permission read_sms

[2020-06-04 23:49] zairwolf opened #67 "Not able to delete msg on Android 10, WRITE_SMS permission is not valid anymore either"
Is there any work around to make it work?

Thanks

[2020-06-11 09:54] huuthinh245 opened #68 "Crash App on device samsung"
let filter = {
    box: 'all',
    minDate: date.valueOf(), // timestamp (in milliseconds since UNIX epoch)
    indexFrom: 0, // start from index 0
    maxCount: 500, // count of SMS to return each time
  };
I use like this. Maybe samsung doesn't support get all sms

[2020-06-15 09:46] briankabiro commented on #67
Hi, Zairwolf

Let me have a look at the issue and will get back with a fix. Thanks for raising this.

[2020-06-15 09:47] briankabiro commented on #68
Hi

Are you able to at least get back a message when using the package?

[2020-06-16 02:19] huuthinh245 commented on #68
yes sir

[2020-06-16 02:19] #68 closed, assigned to nobody

[2020-06-17 06:15] briankabiro commented on #65
Going to close this for now

[2020-06-17 06:15] #65 closed, assigned to nobody

[2020-06-17 06:17] briankabiro commented on #67
Hi, @zairwolf.

**1. Delete message**
Is the app the default SMS handler? If not, it's not possible to delete messages.

You can check out this thread for the full explanation ->

https://github.com/briankabiro/react-native-get-sms-android/issues/51#issuecomment-576307007

**2. Write sms permission**
Going to look at this now and see whether it changed on Android 10

[2020-06-21 10:04] snaveenpandi opened #69 "Not Working react-native-get-sms-android for me"
**Could not find a declaration file for module 'react-native-get-sms-android'. 'e:/react native/wixNavigaton/node_modules/react-native-get-sms-android/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-native-get-sms-android` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native-get-sms-android';`ts(7016)**

[2020-09-03 13:06] jmaric opened #70 "Unresolved function or method autoSend()"
Hi i have been trying to setup SMS send in my new project but i constantly get this error: Unresolved function or method autoSend() in my IDE. On my emulator i get
Typerror:null is not an object(evaluating '_reactNativeGetSmsAndroid.default.autoSend')

[2020-09-12 21:16] gitnasr opened #71 "SMS sent. But I DO NOT receives it on my phone!"
I use the AutoSend method to send SMS. and the callback says (SMS Sent Successfully) but actually I did not receive anything to my phone.
I tried different sender provider but still not receiving the SMS (although my SMS price has been taken) . should I change receiver too?

[2020-09-23 09:56] krutarth-h-dave opened #73 "Add Support for AddressRegex"
For the use-case of filtering out a certain type of SMSes where the Senders matches some pattern, I was thinking if we can add support for addressRegex in the SMS filter.

I have created the PR. Please take a look and let me know if changes are needed.

PR: #72

[2020-09-30 06:45] akshay2739 opened #74 "Permission denied com.android.providers.telephony.SmsProvider"
I have given permission manually still i got the same error.

PS: My project is ejected from expo.

[2020-09-30 09:00] #74 closed, assigned to nobody

[2020-10-02 06:35] VBSwebs commented on #69
Same issue with me. have you find any solution?

[2020-10-06 13:00] akshay2739 opened #75 "I am not able to delete SMS"

[2020-11-03 21:57] adefemi171 commented on #61
@AreebVohra I keep getting `Failed with this error: Generic failure` using your example

[code]

[code]

[2020-11-04 05:44] areebvohra commented on #61
@adefemi171 i have not used this package in a while

[2020-12-23 22:26] salihkiraz commented on #75
https://stackoverflow.com/questions/41644321/sms-are-not-blocking-or-deleting-from-android

[2020-12-23 22:27] salihkiraz commented on #75
From Android 4.4 the app cannot make write (mark as read, delete) operations on SMSs. To achieve this behavior, your app must be the default sms messaging app.

[2020-12-25 08:34] #75 closed, assigned to nobody

[2020-12-29 15:05] mahavirbha opened #77 "TypeError: cb.apply is not a function"
at:
**reactNative/react-native-get-sms-android/example/node_modules/graceful-fs/polyfills.js:285:20**
    at FSReqCallback.oncomplete (fs.js:177:5)
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! example@0.0.1 start: `node node_modules/react-native/local-cli/cli.js start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the example@0.0.1 start script.
npm ERR! This is probably not a problem w

[2021-01-13 02:35] Cererec commented on #67
It there a way to make my RN app as the default messaging app?

[2021-01-17 23:51] orsaada commented on #70
same here

[2021-01-22 17:46] crventra941 opened #78 "Error: getGroupIdLevel1"
I'm trying to send a sms message from physical device but i'm getting this error: Failed with this error: getGroupIdLevel1
`import SmsAndroid from 'react-native-get-sms-android';

SmsAndroid.autoSend(
  phoneNumber,
  message,
  (fail) => {
    console.log('Failed with this error: ' + fail);
  },
  (success) => {
    console.log('SMS sent successfully');
  },
);`

- Note Works fine in Emulator

[2021-01-25 10:43] schotek commented on #67
Hi, @Cererec , Did you realize how to do these tasks?

[2021-02-02 21:01] nitish173 opened #79 "Neither user {some id} nor current process has android.permission.READ_PHONE_STATE"
When trying to use `autoSend` method, we see failure with this message `Neither user {some id} nor current process has android.permission.READ_PHONE_STATE` as failure message. This is not listed as one of the permission required, not sure why should this fail in that case?

[2021-02-03 00:35] Pradye opened #80 "Filter by minDate"
{
  "_id": 1234,
  "thread_id": 3,
  "address": "2900",
  "person": -1,
  "date": 1365053816196,
}

Will the date attribute be unique (even diff in ms).
Asking this because to fetch sms based on date filter by setting "minDate": lastReadDate +1

- lastReadDate = Store the latest sms date value.
- Not setting maxDate

Please advise if this would work.

[2021-02-12 18:12] mushroomgenie opened #81 "Regex format?"
Is there any particular format in which we must write the regex expression? Because whenever I put bodyRegex, I get an empty array as response.

[2021-02-17 17:25] mdipanjan commented on #79
I'm also getting this same error while doing this from an actual device. (added READ_PHONE_STATE access in the  Manifest file also)
Failed with this error: Neither user 10192 nor current process has android.permission.READ_PHONE_STATE.

And when doing from an emulator it's showing message sent successfully but haven't received anything.

@briankabiro can you please suggest how to tackle this.

[2021-02-22 19:17] nitish173 commented on #79
@mdipanjan , look like this is an open issue here: https://issuetracker.google.com/issues/66979952, unfortunately, this is tagged as `wontfix`.

[2021-03-12 17:46] gamesover opened #82 "How can I know which sms is delivered?"
[code]
The above works, just it only returns message  "SMS delivered"  .

If multiple sms were sent out, how can I know which sms delivery is successful, and which is failed?

Also, I found a strange issue.
1st, I send a sms, callback trigger once, and output 1 `SMS delivered`
2nd, I send a sms, callback trigger twice, and output 2 `SMS delivered`
...
10th, I send a sms, callback trigger 10th, and

[2021-03-13 18:05] gamesover opened #83 "about `WRITE_SMS`"
I am completely new to android, the permission is so complex to me :(

I follow the official docu, but sometimes, I can call code successfully, but sometimes, I cannot.

Eventually, I found the `secret`.

In `manifest`, you have to highlight write_sms for sure
[code]
But in `PermissionsAndroid.requestMultiple`, you cannot request `PermissionsAndroid.PERMISSIONS.WRITE_SMS`, android will throw error

[2021-03-14 16:35] gamesover commented on #82
update:
1. about which is which sms, I resolved it by passing an additional parameter through `putExtra` and `getExtra` when broadcasting
2. about callback is triggered multiple times, since code put registerbroadcast into `autoSend` method, so each time you call autoSend, you will register broadcast once. Thus, I move broadcasts out to initialize mthod.

Anyone interests, you may refer my fork.

[2021-03-16 13:25] cbenjafield commented on #70
I am also having this issue. Has anyone been able to solve this?

[2021-04-23 01:27] Bilal-Abdeen commented on #16
I created PR #84, which adds the code from @olbesp to the example code, which is in the readme file.

[2021-04-28 01:29] antoniomefa commented on #82
Hi @gamesover !
I'm trying to implement this listener in my project, but it don't show nothing. Can you gime me some help? Where can I put the listener, inside my sendSMS function or in a useEffect?  My project sends a bulk of SMS, it works correctly but now I want to know which of them are received and which no. This is my sendSMS function:

`const sendSMS = async () => {
    let increment = 0;

[2021-04-29 15:18] gamesover commented on #82
Hi @antoniomefa . I have to change the source code of react-native-get-sms-android. When sending sms, I passed sms id. so when android broadcast sms sent/delivery status, it reports the result together with sms id. In this way, I know which sms is sent/delivered.

Detailed you may refer to my fork

[2021-05-19 06:04] FatehAK opened #85 "Regex matching for Address field in sms"
Hi,

I was wondering if there is possibility to do regex based matching on the address field (sender) of an sms. Consider there are a bunch of sms's with address fields like this:
aaa, ddd, ccc, aab

Now I would like to return only those messages that start with `aa` (aaa, aab) and discard the rest. Is this possible in the library?

[2021-09-01 04:24] Jerald042615 opened #87 "Cannot Send Message on different number."
Failed with this error: Generic failure.

[2021-09-01 04:53] Jerald042615 opened #88 "Cannot Send Message on different Network"
Failed with this error. Generic failure

[2021-09-02 12:33] IBSTEC-Dev opened #89 "Read all new inbox messages using react-native-get-sms-android"
i'm wondering if i found a sollution where i can get all new messages from inbox. In r**eact-native-get-sms-adroid** we can only get message for single number, can we use this library for gettting all messages from inbox. How can we use filter for geting all messages? Or any other library for this sollution?
looking for response...
Thanks in advance.

[2021-09-19 14:28] axwell opened #90 "SmsManager: Unable to launch Settings application."
Hello,

on huawei p8 lite sent messages do not appear in messages app.
I see on logs the following error / info:

D/SmsManager: getSubscriptionId isSmsSimPickActivityNeeded is true
E/SmsManager: Unable to launch Settings application.

any ideas ?

[2021-11-02 16:57] rajanverma-me commented on #81
any update on this one? facing the same issue

[2021-11-24 01:20] chaooe opened #91 "does it have an apk for install directly, so i can use adb to get the message"

[2022-01-18 15:02] trungbmt commented on #82
Hi @gamesover , can you share the code :(

[2022-04-27 08:36] apujayed commented on #53
Config file share plz

[2022-05-31 04:35] VatsalManiya commented on #11
hii can you send me that default sms app project?
if it's on java.

[2022-06-25 09:34] VatsalManiya commented on #67
hii
Can You suggest Some code Or Reference Project In android java language

[2022-07-20 11:06] Nsingh0007 opened #92 "Autosend is not working in android 12"
Autosend method is not working in android version 12.

Help me out for this issue.

Thanks!.

[2022-08-10 01:40] Topandhi opened #93 "Auto Send Not Working"
Failed with this error: Generic failure

[2022-08-10 03:03] Topandhi commented on #93
this because my credit balance low

[2022-08-10 03:03] #93 closed, assigned to nobody

[2022-11-21 20:53] MikeDaFirenze commented on #92
hey did you find any solution?

[2022-11-22 05:27] Nsingh0007 commented on #92
No, I didn't get any solution. Do you have any ..??